/* Modified by Z3R0-C00L */
*{
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 50px;
    background-color: rgb(44, 44, 195);
    border: 3px 3px 3px 3px;
    border-radius: 20px;
    -webkit-box-shadow: 12px 14px 19px 0px rgba(0,0,0,0.6); 
    box-shadow: 12px 14px 19px 0px rgba(0,0,0,0.6);
}

body {
    background: linear-gradient(-45deg, #ffffff, #ff0000, #ffffff, #ff0000);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.btn_nav {
    margin-top: 10px;
    background-color: red;
    border-radius: 10px;
    border-color: blue;
    
}

.btn_nav:hover {
    background-color: blue;
    border-color: red;
}

#art1 {
    margin-top: 10px;
    padding-bottom: 1200px;
    border: 3px 3px 3px 3px;
    border-radius: 20px;
    background-image: url(../media/Scratch.png);
    background-repeat: no-repeat;
    background-size: auto;
}

.title {
    padding-top: 20px;
    padding-left: 10px;
}

h3 {
    color: red;
    padding-left: 10px;
    text-decoration: underline;
}

.box {
    float: left;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    background-color: bisque;
    border: 2px solid green;
    border-radius: 10px;
    margin-right: 40px;
    -webkit-box-shadow: 2px 6px 19px 0px rgba(0,0,0,0.6); 
    box-shadow: 2px 6px 19px 0px rgba(0,0,0,0.6);
}

.box2 {
    box-sizing: border-box;
    background-color: bisque;
    border: 2px solid green;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 51%;
    -webkit-box-shadow: 2px 6px 19px 0px rgba(0,0,0,0.6); 
    box-shadow: 2px 6px 19px 0px rgba(0,0,0,0.6);
}

