*{
    font-family: 'Roboto', sans-serif;
}
header {
    padding: 50px;
    background-color: rgb(44, 44, 195);
}
body {
    background-color: grey;
}
nav {
    background-color: black;
    width: 100%;
}
.btn_nav{
    background-color: black;
    color: white;
    text-align: center;
    border-style: none;
    padding: 15px;
}