*{
    font-family: 'Roboto', sans-serif;
}
body {
    background-color:  rgb(11, 13, 14);
}

header {
    /*padding: 10px;*/
    background-image: url('../pictures/header_1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color:  rgb(11, 13, 14);;
}

h1 .div_header_text{
    font-size: large;
}
.img_logo {
    width: 25%;
    height: 25%;
    display: block;
}
nav {
    background-color: black;
    width: 100%;
}
.btn_nav{
    background-color: black;
    color: white;
    text-align: center;
    border-style: none;
    padding: 15px;
}
nav {
    background-color: black;
    width: 100%;
  }
  .btn_nav {
    background-color: black;
    color: blanchedalmond;
    border-style: none;
    padding: 10px;
    font-size: 25px;
  }
  .btn_nav:hover {
    background-color: rgb(88, 151, 160);
    color: black;
    border-style: none;
    padding: 10px;
  }
article {
    background-color: rgb(37, 37, 37);
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    padding: 15px ;
}
.div_content_header {
    padding: 50px;
    background-image: url("../pictures/code-944499.jpg");
}
.div_content_header_title {
    color: black;
    font-size:  70px;
    background-color: rgba(192, 192, 192, 0.5);
    padding: 5px;
    border-radius: 10px;
}
.div_content_github {
    margin-top: 30px;
    padding: 30px;
    background-color: rgba(192, 192, 192, 0.5);
    text-align: center;
}
input[type=text]{
    box-sizing: border-box;
    background-color: rgba(192, 192, 192, 0.5);
    border: none;
    border-bottom: 2px solid blanchedalmond;
    font-size: 30px;
    padding: 5px;
}
input[type=email]{
    box-sizing: border-box;
    background-color: rgba(192, 192, 192, 0.5);
    border: none;
    border-bottom: 2px solid blanchedalmond;
    font-size: 30px;
    padding: 5px;
}
textarea {
    background-color: rgba(192, 192, 192, 0.5);
    font-size: 30px;
    border: none;
    resize: none;
}